

.button1 {
	/* Button */

	flex-direction:  row;
	align-items: flex-start;
	padding:24px;

	position: static;
	width: 228px;
	height:50px;
	left: 00px;
	top: 0px;

	background:#0A3871;
	border-radius: 24px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 110px;

	
	
}
/* Caixa de texto criptografar*/
.criptografar {
	position: static;
	width: 180px;
	height: 19px;
	left: 0px;
	top: 0px;

	font-family:  "Inter";
	font-style:  normal;
	font-weight:  400;
	font-size: 16px;
	line-height: 19px;
	text-align:center;

	color: #FFFFFF;

	flex: none;
	order: 0;
	flex-grow: 1;
	margin:  0px 0px;
}