.retangulo {
	/* Retangulo*/
	position: absolute;
	width: 400px;
	height:580px;
	left: 900px;
	top: 20px;
	/* Cor de fundo*/
	background: #FFFFFF;

	/* Sombra */
	box-shadow:  0px 24px 32px -8px rgba(0, 0, 0, 00);
	border-radius: 20px;
}










